

body{
    background-color: black;
}

.all-container{
    margin:50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.calculator-body{
  display: grid;
  border: 2px solid rgb(42, 58, 56);
  border-radius: 10px;
  height: 500px;
  background-color: rgb(57, 80, 101);
}

.display-area{
   width: 400px;
   height: 60px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-end;
   border: 1px solid rgb(53, 48, 48);
   border-radius: 10px;
   padding-right: 20px;
   padding-bottom: 20px;
   background-color: rgb(155, 114, 114);
   
}

 .display-area-1{
     padding: 20px 0;
     color: azure;
 }


 .display-area-2{
    
    color: white;
}

.line1, .line2, .line3, .line4, .line5{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  background-color: rgb(57, 80, 101);
   
}
/* 
.line2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    background-color: rgb(57, 80, 101);
} */


/* .line3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    background-color: rgb(57, 80, 101);
}

.line4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    background-color: rgb(57, 80, 101);
} */

 .line5{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 5px;
    border-radius: 10px;
    
} 


button{
    background-color: rgb(212, 209, 209);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  border: none;
}

button:hover{
    background-color: aqua;
   
}