

.all-container{
    margin: 50px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.calculator-body{
  display: grid;
  gap: 10px;
  border: 2px solid greenyellow;
  border-radius: 10px;
}

.display-area{
   width: 400px;
   height: 60px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-end;
   border: 1px solid rgb(53, 48, 48);
   border-radius: 10px;
   padding-right: 20px;
   padding-bottom: 20px;
   background-color: black;
}

 .display-area-1{
     padding-top: 20px;
     color: azure;
 }


 .display-area-2{
    
    color: white;
}

.line1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  
   
}

.line2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    
}


.line3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.line4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.line5{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 5px;
    border-radius: 10px;
    
}


button{
    background-color: rgb(212, 209, 209);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  border: none;
}

button:hover{
    background-color: aqua;
   
}